@use '../../sass/abstract/' as a;

.shopping-page {
  background-color: a.$clr-lgrey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-page-heading {
  font-size: 2em;
  text-align: center;
}

.shopping-page-list-container {
  padding: 1rem 2%;
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.shopping-clear-button {
  background-color: a.$clr-secondary;
  color: white;
  border-radius: .25rem;
  padding: .5em 1em;
}