@use '../abstract/' as a;


button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  background: none;
  border: none;

  &:focus {
    outline: .25ch solid a.$clr-secondary;
  }
}

.section-description {
  margin: 1ch 2em;
}

.page {
  min-height: calc(100vh - 2em);
}

.icon {
  height: 2em;
  width: 2em;
}