@use '../../sass/abstract/' as a;
#cook {
  background-color: a.$clr-dgrey;
}

.cook_heading {
  font-size: 2em;
}

.cook-section {
  padding: 1em;
  margin-bottom: 3em;
}

#cook_products-section {
  & h1 {
    color: black;
  }
}

.cook_user-products-list {
  background-color: a.$clr-trswhite;
  border-radius: .25ch;
  padding: 1ch;

  & li {
    &::before {
      content: '- '
    }
  }
}

#cook_menu-section {
  margin: 3em 0;
  & h1 {
    text-align: center;
  }
}

.cook_recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1ch;
  padding: 1em;
}

#cook_recipes-section {

}

.threshold-input {
  width: 2ch;
}